<div class="container">
  <div class="row">
    <% if !user_signed_in? %>
      <div class="col-md-6">
        <!-- Widget starts -->
        <div class="widget wred">
          <div class="widget-head">
            <i class="fa fa-sign-in"></i> Sign In 
          </div>
          <div class="widget-content">
            <div class="padd">
              <%= render 'devise/sessions/form' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%#= render 'conn_count' %>
        <%= render 'dashboard/news' %>
      </div>
    <% end %>
  </div>         
</div>