<div class="alert alert-info">
  <strong>Hey!</strong><br/>
  You'll need either a Twitter, Google, or GitHub account to login.
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="form-group">
    <div class="col-lg-10">
      <div class="btn-group">
        <button class="btn btn-danger"><i class="fa fa-google"></i> Google</button>
        <button class="btn btn-success"><i class="fa fa-github"></i> GitHub</button>
        <%= link_to signin_path(:twitter) do %><button class="btn btn-info"><i class="fa fa-twitter"></i> Twitter</button><% end %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end -%>
    </div>
  </div>
<% end %>