<div class="col-md-5">
  <div class="widget">
    <!-- Widget head -->
    <div class="widget-head">
      <div class="pull-left">7 Day Action Breakdown</div>
      <div class="clearfix"></div>
    </div>              

    <!-- Widget content -->
    <div class="widget-content">
      <div class="padd">
        <%= pie_chart(@cmds) %>
          <%= debug(@cmds) %>
        <%#= @conn_hash["values"] %>
        <%#= scatter_chart @conn_hash %>
        
        <%#= line_chart(@conn_count) %>
      </div>
    </div>
    <!-- Widget ends -->
  </div>
</div>