<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong>This is your authentication token. You'll need to enter this in the MiThings SmartApp:</strong><br/>
        <%= current_user.token %><br/>
      </div>
    </div>
    <div class="col-md-7">
      <!-- Widget -->
  
    </div>
    <%#= render 'cmd_chart' %>
  </div>
</div>