<!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
        <ul id="nav">
          <!-- Main menu with font awesome icon -->
          <% if user_signed_in? %>
            <%= active_link_to root_path, :active => :exclusive, :class_active => 'open', :wrap_tag => :li do %><i class="fa fa-tachometer"></i> Dashboard<% end %>
            <li class="has_sub<% if is_active_link?(hubs_path) %> open<% end %>">
              <a href="#"><i class="fa fa-lightbulb-o"></i> Lights <span class="pull-right"><i class="fa fa-chevron-right"></i></span></a>
              <ul>
                <li><%= link_to hubs_path do %>Manage Hubs & MAC Addresses<% end %></li>
                <li><a href="login.html">Macros</a></li>
                <li><a href="register.html">Command History</a></li>
              </ul>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %><i class="fa fa-sign-out"></i> Log Out<% end %>     
            </li>
          <% else %>
            <li>
              <%= link_to root_path do %><i class="fa fa-sign-in"></i> Log In<% end %>
            </li>
          <% end %>         
            <li><a href="index.html"><i class="fa fa-envelope-o"></i> Contact</a></li>
        </ul>
    </div>
    <!-- Sidebar ends -->